.language-select {
  padding: 6px;
  border-radius: 16px;
  min-width: 110px;
  border: 1px solid #bcccdc;
  letter-spacing: 0.2px;
  color: #387478;
  background-color: #f8fafc;
  font-size: var(--font-geist-mono);
  font-size: 14px;

  &:focus {
    outline: none;
  }
}
