.page-url-finder {
  position: relative;
  padding: 24px 0;

  .title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: white;

    .input-pathname-layout {
      $inputPaddingHorizontal: 16px;
      position: relative;
      width: 100%;
      max-width: 340px;

      .input-pathname {
        padding: 6px $inputPaddingHorizontal;
        border-radius: 16px;
        font-size: 16px;
        letter-spacing: 0.2px;
        font-size: var(--font-geist-mono);
        color: #387478;
        background-color: #f8fafc;
        border: 1px solid #bcccdc;
        width: 100%;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px rgba(217, 234, 253, 0.3);
        }
      }

      &.lang-space {
        .input-pathname {
          padding-left: 74px !important;
        }
      }

      .language-prefix {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: $inputPaddingHorizontal;
        line-height: 1;
        width: 52px;
        opacity: 0.6;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        user-select: none;
        pointer-events: none;
      }
    }

    .button-submit {
      cursor: pointer;
      padding: 6px 24px;
      font-size: 16px;
      border-radius: 16px;
      border: 1px solid #bcccdc;
      color: white;
      background-color: #0a97b0;
      transition: all 130ms ease-in-out;
      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  .content {
    min-height: 300px;
    margin-top: 30px;

    &.is-loading,
    &.empty-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .info-text {
        font-size: 18px;
        color: #4c585b;
      }
    }

    .data-list {
      list-style-type: decimal;
      list-style-position: inside;

      .data-list-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 16px;
        margin-bottom: 12px;

        .search-url {
          a {
            color: #4da1a9;
          }
        }

        .left {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
        }
      }

      li {
        padding: 2px 0;
        color: #2a3335;
        background-color: #f8fafc;

        &:hover {
          background-color: #f1f2f3;
        }

        &:nth-child(odd) {
          background-color: white;

          &:hover {
            background-color: #f1f2f3;
          }
        }

        a {
          color: #091057;
          &:hover {
            color: #6256ca;
          }
        }
      }
    }
  }
}
